In [60]:
import pandas as pd
import numpy as np
import requests
import io

In [61]:
url = "https://raw.githubusercontent.com/amelfraisse/HAL-LO/main/datasets/data_contributeurs.csv" 
download = requests.get(url).content

colnames=['UnivSigle', 'UnivNum', 'Label', 'UniteSigle', 'UniteNom', 'Collection', 'Secteur', 'Discipline', 'AnneeDepot', 'NbDepotLabo', 'ContributeurNom', 'NbDepotContributeur'] 
dataframe = pd.read_csv(io.StringIO(download.decode('latin-1')), sep =';', names = colnames, header=0)

dataframe.head()

,UnivSigle,UnivNum,Label,UniteSigle,UniteNom,Collection,Secteur,Discipline,AnneeDepot,NbDepotLabo,ContributeurNom,NbDepotContributeur
0,Saclay,Saclay-187,NaN,LTCI,Laboratoire traitement et communication de l'i...,LTCI,Science technologie,Sciences et technologies de l'information et d...,2019,3064,Telecomparis Hal,2401
1,UGA,UGA-018,UPR 5301,CERMAV,Centre de Recherches sur les Macromolécules Vé...,CERMAV,Science technologie,Chimie;Biologie medecine et sante;Sciences pou...,2008,2199,Michèle Carret,2179
2,UDL,UDL-092,UMR 5205,LIRIS,Laboratoire d'InfoRmatique en Image et Système...,LIRIS,Science technologie,Sciences et technologies de l'information et d...,2017,2548,Équipe Gestionnaire Des Publications Si Liris,2041
3,UGA,UGA-012,UMR 0042,CARRTEL,Centre Alpin de Recherche sur les Réseaux Trop...,NaN,Science technologie,Sciences agronomiques et ecologiques,2020,2145,Migration Prodinra,1942
4,UDL,UDL-145,UMR 1213,Herbivores,Unité Mixte de Recherche Herbivores,NaN,SDV santé,Sciences agronomiques et ecologiques,2020,2149,Migration Prodinra,1824

In [62]:
print("Nombre lignes:")
len(dataframe.index)

Nombre lignes:

213489

In [63]:
#dfUniv = pd.pivot_table(
#   dataframe,
#   index=['UnivSigle'],
#   aggfunc={'AnneeDepot': [min, max], 'NbDepotContributeur': [min, max, np.sum, np.std], 'ContributeurNom': len}
#).rename(columns={'ID': 'NbContributeur'})

dfUniv = pd.pivot_table(
   dataframe,
   index=['UnivSigle'],
   aggfunc={'AnneeDepot': [min, max], 'NbDepotContributeur': [min, max, np.sum, np.std]})

dfUniv.head(100)

          AnneeDepot       NbDepotContributeur
                 max   min                 max  min        std       sum
UnivSigle
AMU             2021  1990              1177.0  1.0  18.444893  104581.0
PSL             2021  1975              1301.0  1.0  21.985604  121879.0
SU              2021  1975              1144.0  1.0  16.274070   59245.0
Saclay          2021  1933              2401.0  1.0  31.366091  186194.0
UB              2021  1966              1480.0  1.0  30.953044   80078.0
UCA             2021  1993              1389.0  1.0  27.660222   33404.0
UDL             2021  1971              2041.0  1.0  30.708436  188014.0
UGA             2021  1975              2179.0  1.0  30.620423  113393.0
USPC            2021  1999              1764.0  1.0  20.853860  105423.0
Unistra         2021  1999              1017.0  1.0  24.880308   36067.0

In [64]:
print("Nombre Universités:")
len(dfUniv.index)

Nombre Universités:

10

In [65]:
dfSaclay = dataframe[dataset['UnivSigle']=="Saclay"]
dfSaclay.AnneeDepot.sort_values(ascending=False)
dfSaclay.head(10)

,UnivSigle,UnivNum,Label,UniteSigle,UniteNom,Collection,Secteur,Discipline,AnneeDepot,NbDepotLabo,ContributeurNom,NbDepotContributeur
0,Saclay,Saclay-187,NaN,LTCI,Laboratoire traitement et communication de l'i...,LTCI,Science technologie,Sciences et technologies de l'information et d...,2019,3064,Telecomparis Hal,2401
5,Saclay,Saclay-113,NaN,IPNO,Institut de physique nucléaire d'Orsay,IPNO,Science technologie,Chimie;Physique,2000,2499,Suzanne Robert,1794
7,Saclay,Saclay-167,UMR 8212,LSCE,Laboratoire des sciences du climat et de l'env...,LSCE,Science technologie,Sciences de la Terre de l'univers et de l'Espace,2020,2943,Florence Aptel,1708
11,Saclay,Saclay-225,UMR CNRS 5157,SAMOVAR,Services répartis; architecture modélisation v...,NaN,Science technologie,Sciences et technologies de l'information et d...,2016,1464,Médiathèque Télécom Sudparis & Institut Mines-...,1379
21,Saclay,Saclay-047,UMR 7641,CMAP,Centre de Mathématiques Appliquées,CMAP,Science technologie,Mathematiques et leurs interactions,2010,1196,Jean-Francois Colonna,1117
22,Saclay,Saclay-041,NaN,BDR,Biologie du développement et reproduction,NaN,SDV santé,Biologie medecine et sante,2020,1231,Migration Prodinra,1096
24,Saclay,Saclay-167,UMR 8212,LSCE,Laboratoire des sciences du climat et de l'env...,LSCE,Science technologie,Sciences de la Terre de l'univers et de l'Espace,2021,1225,Florence Aptel,1020
26,Saclay,Saclay-121,UMR 7220,ISP,Institut des sciences sociales de politique,ISP,ALLSHS,Sciences de la societe,2013,1032,Magali Vautelin,1009
29,Saclay,Saclay-092,UMR 1313,GABI,Génétique animale et biologie intégrative,NaN,SDV santé,Sciences agronomiques et ecologiques,2020,1801,Migration Prodinra,960
33,Saclay,Saclay-147,UMR 7649,LMS,Laboratoire de mécanique des solides,X-LMS,Science technologie,Sciences pour l'ingenieur,2006,975,Marc Bonnet,875

In [66]:
print("Nombre lignes Saclay:")
len(dfSaclay.index)

Nombre lignes Saclay:

39100

In [67]:
dfSaclayPivot = pd.pivot_table(
   dfSaclay,
   index=['AnneeDepot'],
   aggfunc={'UniteNom': len, 'Collection': len, 'Secteur': len, 'Discipline': len})

dfSaclayPivot.head(100)

            Collection  Discipline  Secteur  UniteNom
AnneeDepot
1933                 1           1        1         1
1951                 1           1        1         1
1952                 1           1        1         1
1958                 1           1        1         1
1960                 1           1        1         1
1967                 1           1        1         1
1969                 1           1        1         1
1972                 1           1        1         1
1973                 2           2        2         2
1975                 3           3        3         3
1976                 2           2        2         2
1977                 2           2        2         2
1978                 2           2        2         2
1979                 3           3        3         3
1980                 2           2        2         2
1981                 2           2        2         2
1982                 2           2        2         2
1983                 1           1        1         1
1984                 1           1        1         1
1985                 2           2        2         2
1986                 5           5        5         5
1987                 3           3        3         3
1988                 4           4        4         4
1989                 2           2        2         2
1990                 1           1        1         1
1991                 1           1        1         1
1992                 3           3        3         3
1993                 3           3        3         3
1994                 4           4        4         4
1995                 2           2        2         2
1996                 3           3        3         3
1997                 4           4        4         4
1998                10          10       10        10
1999                20          20       20        20
2000                27          27       27        27
2001                26          26       26        26
2002                44          44       44        44
2003                98          98       98        98
2004               177         177      177       177
2005               291         291      291       291
2006               638         638      638       638
2007               906         906      906       906
2008              1084        1084     1084      1084
2009              1173        1173     1173      1173
2010              1363        1363     1363      1363
2011              1522        1522     1522      1522
2012              1880        1880     1880      1880
2013              2152        2152     2152      2152
2014              2052        2052     2052      2052
2015              2321        2321     2321      2321
2016              2733        2733     2733      2733
2017              3404        3404     3404      3404
2018              4046        4046     4046      4046
2019              6067        6067     6067      6067
2020              5404        5404     5404      5404
2021              1595        1595     1595      1595